@model PaginationModel

<nav aria-label="Product pagination">
    <ul class="pagination justify-content-center">

        <!-- Previous Button -->
        <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" href="?page=@(Model.CurrentPage - 1)" tabindex="-1">Previous</a>
        </li>

        <!-- Page Numbers -->
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a class="page-link" href="?page=@i">@i</a>
            </li>
        }

        <!-- Next Button -->
        <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
            <a class="page-link" href="?page=@(Model.CurrentPage + 1)">Next</a>
        </li>

    </ul>
</nav>
